# macOS
.DS_Store

# Compiled binaries
mac/font-patcher-mac
win/font-patcher.exe
linux/font-patcher
release/

# Extracted packages
win/msi-extract/
linux/rpm-extract/

# Installer packages
*.msi
*.rpm

# Original/backup binaries
mac/Max
mac/Max.bak
mac/dump.txt

# Go
go.sum
